/*
font-family: 'Kaushan Script', cursive;
font-family: 'Mukta', sans-serif;
font-family: 'Noto Sans JP', sans-serif;
*/
@import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Mukta&family=Noto+Sans+JP&display=swap");
/*$breakpoints: (
    mobile: 26.625em, 426px
    tablet: 48.0625em, 769px
    laptop: 90.0625em, 1440px
    UHD: 160.0625em 2561px
) !default;*/
/*
@mixin landingtext-style{
  display:flex;
  flex-direction: column;
  color: colors.$accent-color;
  position:absolute;
  text-align: center;
  top:  7em;
  white-space: nowrap;
  width: 100%;
}
*/
/*
@mixin test{
  display:flex;
flex-direction: column;
font-color: #1e272e;
background-color: #ffdd59;
}
*/
* {
  font-family: "Noto Sans JP", sans-serif;
  box-sizing: border-box;
  font-size: 1rem;
  margin: 0rem;
  padding: 0rem;
}

body {
  background-color: #1e272e;
}

/*
//Mobile
.logo{
    max-width: 100%;
    height: 3em;
    margin: 0px;
}

header{
    background-color: colors.$primary-color;
    text-align: center;
    position: sticky;
    z-index: 999;
    width: 100%;
}

.nav-toggle{
    display:none;
}

.nav-toggle-label{
    position:absolute;
    top: 0;
    left: 0;
    margin-left: 1em;
    height: 100%;
    display: flex;
    align-items: center;
}

.nav-toggle-label span, .nav-toggle-label span::before, .nav-toggle-label span::after{
    display: block;
    background: colors.$accent-color;
    height: 2px;
    width: 2em;
    border-radius: 2px;
    position:relative;
}

.nav-toggle-label span::before, .nav-toggle-label span::after{
    content: '';
    position: absolute;

}

.nav-toggle-label span::before{
    bottom: 7px;
}

.nav-toggle-label span::after{
    top: 7px;
}

nav{
    position: absolute;
    text-align: left;
    top: 100%;
    left: 0;
    background:colors.$primary-color;
    width: 100%;

    transform: scale(1,0);
    transform-origin: top;
    transition: transform 400ms ease-in-out;
}

nav{
    ul{
        margin:0;
        padding: 0;
        list-style: none;
    }
}

nav{
    li{
        margin-bottom: 1em;
        margin-left:1em;
    }
}

nav{
    a{
    color: colors.$accent-color;
    text-decoration: none;
    font-size: 1.2rem;
    text-transform: uppercase;

    opacity: 0;
    transition: opacity 150ms ease-in-out;
    &:hover{
            color: colors.$buttons-hover-color;
        }
    }
}

.nav-toggle:checked ~ nav{
    transform: scale(1,1);
}

.nav-toggle:checked ~ nav a{
    opacity: 1;
    transition: opacity 250ms ease-in-out 250ms;
}

@media screen and (min-width: 769px){
    .nav-toggle-label{
        display: none;
    }
}
*/
body :not(.landingimage) {
  position: relative;
}

.landingpage-animations {
  animation: fadeIn 2s;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media (min-width: 320px) and (max-width: 480px) {
  .landingimage {
    height: 100vh;
    width: 100%;
    object-fit: cover;
    object-position: center;
    position: absolute;
    filter: brightness(50%) blur(8px);
    animation: fadeIn 500ms ease;
  }
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  h1, h2 {
    text-align: center;
    padding: 1em;
    width: 100%;
    color: white;
  }
  h1 {
    top: 9.5em;
    font-size: 1.6em;
  }
  h2 {
    top: 13em;
    font-size: 1em;
  }
  .emailinfo {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    top: 30em;
  }
  .emaillink {
    display: flex;
    justify-content: center;
    align-self: center;
    color: white;
    text-decoration: none;
    font-size: 0.7em;
  }
  .landpage-icons-email {
    height: 100%;
    width: 5vw;
    margin-right: 0.3em;
  }
  .socialicons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: baseline;
    top: 25em;
    gap: 50px;
  }
  .landpage-socialicons-blog, .landpage-socialicons-youtube {
    height: 100%;
    width: 6vw;
  }
  .landpage-socialicons-home {
    height: 100%;
    width: 8vw;
  }
}
/* fix icons at 767px mark */
@media (min-width: 481px) and (max-width: 767px) {
  .landingimage {
    height: 100vh;
    width: 100%;
    object-fit: cover;
    object-position: center;
    position: absolute;
    filter: brightness(50%) blur(8px);
    animation: fadeIn 500ms ease;
  }
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  body :not(.landingimage) {
    position: relative;
  }
  h1, h2 {
    text-align: center;
    padding: 1em;
    width: 100%;
    color: white;
  }
  h1 {
    top: 7.5em;
    font-size: 2em;
  }
  h2 {
    top: 8.5em;
    font-size: 1.5em;
  }
  .landingpage-animations {
    animation: fadeIn 2s;
  }
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  .emailinfo {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    top: 27em;
  }
  .emaillink {
    display: flex;
    justify-content: center;
    align-self: center;
    color: white;
    text-decoration: none;
    font-size: 0.8em;
  }
  .landpage-icons-email {
    height: 100%;
    width: 4.5vw;
    margin-right: 0.5em;
  }
  .socialicons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: baseline;
    top: 22em;
    gap: 60px;
  }
  .landpage-socialicons-blog, .landpage-socialicons-youtube {
    height: 100%;
    width: 6vw;
  }
  .landpage-socialicons-home {
    height: 100%;
    width: 8vw;
  }
}

/*# sourceMappingURL=styles.css.map */
