@use "../components/colors";

@mixin landingtext-style{
  display:flex;
  flex-direction: column;
  color: colors.$accent-color;
  position:absolute;
  text-align: center;
  top:  7em;
  white-space: nowrap;
  width: 100%;
}

@mixin blur-image{
  filter: brightness(50%) blur(3px);
}

@mixin test{
  display:flex;
flex-direction: column;
font-color: #1e272e;
background-color: #ffdd59;
}