@use "fonts";

*{
    font-family: "arial", sans-serif;
    box-sizing: border-box;
}
  
body{
    font-size: 1rem;
    margin: 0rem;
    padding: 0rem;
}

h1{
    font-feature-settings: fonts.$fontHeader;
}

p{
    a{
        font-family: fonts.$fontText;
    }
}