@use "./abstracts";
@use "./abstracts/mixins";
@use "./base";
@use "./base/override-styles";
@use "./components";
@use "./components/fonts";
@use "./components/colors";
@use "./layouts";
@use "./layouts/navbar";


//Mobile
@media screen and (max-width: 426px){
    //landing page iamge
    .landingimage{
        height: 100vh;
        width: 100%;
        object-fit: cover;
        object-position: center;
        position: absolute;
        @include mixins.blur-image;

        animation: fadeIn 500ms ease;

        @keyframes fadeIn {
            0% { opacity: 0; }
            100% { opacity: 1; }
        }
        
    }
    //body
    body :not(.landingimage){
        position: relative;
    }
    h1, h2{
        text-align: center;
        padding: 1em;
        width: 100%;
        color: white;
    }
    h1{
        top: 9.5em;
        font-size: 1.6em;
    }
    h2{
        top: 13em;
        font-size: 1em;
    }
    //animations
    .landingpage-animations{
        animation: fadeIn 2s;

        @keyframes fadeIn {
            0% { opacity: 0; }
            100% { opacity: 1; }
        }
    }
    //bottom of page - email
    .emailinfo{
        display:flex;
        flex-direction: row-reverse;
        justify-content: center;
        top: 30em;
      }
    .emaillink{
        color: white;
        text-decoration: none;
        font-size: 0.7em;
    }
    .landpage-icons-email{
        height: 100%;
        width: 5vw;
        margin-right: 0.3em;
      }
    //bottom of page - social buttons
      .socialicons{
        display:flex;
        flex-direction: row;
        justify-content: center;
        align-items: baseline;
        top: 25em;

        gap:50px;
      }
      .landpage-socialicons-blog{
        height: 100%;
        width: 6vw;
      }
      .landpage-socialicons-home{
        height: 100%;
        width: 8vw;
      }
      .landpage-socialicons-youtube{
        height: 100%;
        width: 6vw;
      }
}