@use "./abstracts";
@use "./abstracts/mixins";
@use "./base";
@use "./base/override-styles";
@use "./components";
@use "./components/fonts";
@use "./components/colors";
@use "./layouts";
@use "./layouts/navbar";


//Mobile
@media screen and (max-width: 426px){
    .landingimage{
        height: 100vh;
        width: 100%;
        object-fit: cover;
        object-position: center;
        position: absolute;
        @include mixins.blur-image;
    }
    h1, h2{
        position: relative;
        text-align: center;
        padding: 1em;
        width: 100%;
        color: white;
    }
    h1{
        top: 9.5em;
        font-size: 1.6em;
    }
    h2{
        top: 13em;
        font-size: 1em;
    }
}