@use "../components/colors";

*{
    font-family: 'Mukta', sans-serif;
    box-sizing: border-box;
    font-size: 1rem;
    margin: 0rem;
    padding: 0rem;
}

body{
    background-color: colors.$primary-color;
}