@use "../components/colors";

*{
    font-family: 'Noto Sans JP', sans-serif;
    box-sizing: border-box;
    font-size: 1rem;
    margin: 0rem;
    padding: 0rem;
}

body{
    background-color: colors.$accent-color;
}